.product-card {
  display: flex;
  flex-direction: column;
  // margin-bottom: 50px;

  width: $product-card-width;

  border: 1px solid $card-border-color;
  border-radius: 5px;
  padding: 14px;

  &__img {
    height: 134px;
    width: 160px;
    margin: 15px auto 45px;
    padding: 14px auto 0;
    transition: transform 400ms;

    &:hover {
      box-sizing: content-box;
      border: 3px solid $card-border-color;
      margin: 0 auto 30px;
      padding: 12px 0;
      transform: scale(1.2);
    }
  }

  &__title {
    @extend %card-title-text;
    margin: 0 auto 6px;
  }

  &__code {
    @extend %card-def-text;
    margin-bottom: 15px;
  }

  &__code-text {
    margin: 0;
  }

  &__raiting {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__raiting-text,
  &__price-text {
    @extend %card-def-text;
    margin: 0;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: baseline;
  }
  
  &__price-count {
    margin: 0;
    @extend %card-price-count-text;
  }
  
  &__bottom {
    width: 100%;
    height: $card-bottom-height;
    background-color: $main-color;
    border: 1px solid $main-color;
    border-radius: 5px;
    transition-duration: 400ms;
  
    @extend %card-bottom-text;
    text-align: center;
    line-height: $card-bottom-height;
    align-self: flex-end;

    &:hover {
      background-color: $second-color;
      color: $main-color;
      border: 1px solid $main-color;
    }
  }
}
